## Juniper JunOS configuration
version 22.4R1;
system {
    host-name Router-A;
    login {
        user admin {
            uid 1000;
            class super-user;
            authentication {
                encrypted-password "$6$abc123";
            }
        }
        user operator {
            uid 1001;
            class operator;
        }
    }
    syslog {
        file messages {
            any notice;
            authorization info;
        }
        file security {
            authorization any;
        }
    }
    ntp {
        server 10.0.0.100;
    }
}
interfaces {
    ge-0/0/0 {
        description "Uplink to ISP";
        unit 0 {
            family inet {
                address 192.168.1.1/24;
            }
        }
    }
    ge-0/0/1 {
        description "LAN segment";
        unit 0 {
            family inet {
                address 10.0.0.1/30;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 172.16.0.1/32;
            }
        }
    }
}
routing-options {
    router-id 172.16.0.1;
    autonomous-system 65000;
    static {
        route 0.0.0.0/0 next-hop 10.0.0.2;
        route 10.10.0.0/16 next-hop 10.0.0.2;
    }
}
protocols {
    ospf {
        area 0.0.0.0 {
            interface ge-0/0/0.0;
            interface ge-0/0/1.0;
            interface lo0.0 {
                passive;
            }
        }
    }
}
policy-options {
    policy-statement POLICY-OUT {
        term PERMIT-WEB {
            from {
                protocol static;
                route-filter 0.0.0.0/0 exact;
            }
            then {
                local-preference 150;
                accept;
            }
        }
        term PERMIT-INTERNAL {
            from {
                protocol ospf;
            }
            then accept;
        }
        term DENY-ALL {
            then reject;
        }
    }
}
firewall {
    filter ACL-WEB {
        term PERMIT-HTTP {
            from {
                destination-port [http https 8080];
            }
            then accept;
        }
        term PERMIT-SSH {
            from {
                source-address 10.0.0.0/8;
                destination-port ssh;
            }
            then accept;
        }
        term DENY-ALL {
            then discard;
        }
    }
}
