## Juniper JunOS configuration
version 22.4R1;
system {
    host-name Router-A;
    login {
        user admin {
            uid 1000;
            class super-user;
            authentication {
                encrypted-password "$6$abc123";
            }
        }
    }
    syslog {
        file messages {
            any notice;
            authorization info;
        }
    }
}
interfaces {
    ge-0/0/0 {
        description "Uplink to ISP";
        unit 0 {
            family inet {
                address 192.168.1.1/24;
            }
        }
    }
    ge-0/0/1 {
        description "LAN segment";
        unit 0 {
            family inet {
                address 10.0.0.1/30;
            }
        }
    }
}
routing-options {
    router-id 192.168.1.1;
    autonomous-system 65000;
    static {
        route 0.0.0.0/0 next-hop 10.0.0.2;
    }
}
protocols {
    ospf {
        area 0.0.0.0 {
            interface ge-0/0/0.0;
            interface ge-0/0/1.0;
        }
    }
}
policy-options {
    policy-statement POLICY-OUT {
        term PERMIT-WEB {
            from {
                protocol static;
                route-filter 0.0.0.0/0 exact;
            }
            then {
                local-preference 100;
                accept;
            }
        }
        term DENY-ALL {
            then reject;
        }
    }
}
firewall {
    filter ACL-WEB {
        term PERMIT-HTTP {
            from {
                destination-port [http https];
            }
            then accept;
        }
        term DENY-ALL {
            then discard;
        }
    }
}
